@import url('https://fonts.googleapis.com/css?family=Lato|Lora:400,400i');
body {
	font-family: 'Lora', serif;
	color: #474747;
}

header.major h2 {
	font-family: 'Lato', sans-serif;
}
header#header {
	font-family: 'Lato', sans-serif;
}
